body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:#e1dcdc;

}
#menu-lateral {
  width: 250px;
  background-image: url('../../../../assets/images/fondo.jpg');
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  overflow: auto;
}

#menu-lateral ul {
  list-style-type: none;
  padding: 0;
}

#menu-lateral ul li {
  padding: 10px;
  text-align: center;
}

#menu-lateral ul li:hover {
  background-color: #555;
}

.chat-container {
    margin-left: 15%;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden; /* Para evitar que el área de mensajes oculte el input */
    /*background-image: url('../../../../assets/images/fondo.jpg');*/
    background-size: cover; /* Ajusta el tamaño para cubrir todo el contenedor */
    background-repeat: no-repeat; /* Evita repetir la imagen */
    background-position: center center; /* Centra la imagen */
    padding: 0% 23% 0% 23%;
    text-align: center;
    justify-content: center;

}



.chat-messages {
    background-cplor: rgb(248, 248, 248);
    padding: 2% 2% 2% 2%;
    max-height: 100%;
    flex-grow: 1; /* La sección de mensajes crecerá para llenar el espacio disponible */
    max-width: 100%;
    min-height: 300px;
    transition: height 5s ease; /* Agrega una transición suave de altura */

}

.message {
    padding: 2% 2%;
    border-radius: 8px;
    margin-bottom: 2%;
    max-width: 48%;
}

.sender {
    background-color: #e1dcdc;
    text-align: right;
    align-self: flex-end;
    color: #000000;
    margin-left: auto; /* Alinea el mensaje del remitente a la derecha */
    Font-family: Courier New;
}

.receiver {
  text-align: left;
  background-color: #b22929;
  color: #d3d3d3;
  align-self: flex-start;
  margin-right: auto; /* Alinea el mensaje del receptor a la izquierda */
  Font-family: Courier New;
}
.message-title {

    margin-bottom: 5px;
    color: #777; /* Color de texto más oscuro */
    font-size: 11px; /* Tamaño de fuente más grande */
    font-weight: bold; /* Texto en negrita */
    border-radius: 5px;

  }

  .receiver-title {
    color: #ffffff;
    font-family: Segoe script;
    font-size: 15px;
  }

  .sender-title {
    color: #b22929;
    background-color: #b2292900;
    font-family: Segoe script;
    font-size: 15px;
  }
  .chat-header {
    background-color: #b22929;
    color: #fff;
    padding: 10px 16px;
    text-align: center;
    border-radius: 7px 7px 0px 0px;
    max-width: 100%;
    font-family: Segoe script;

}
.chat-foot{
  background-color: #e5dfdf;
  color: #fff;
  padding: 2% 3% 2% 3%;
  text-align: center;
  border-radius: 0px 0px 7px 7px;
  max-width: 100%;
  justify-content: center;
  display: flex;

}


.chat-foot input {
    border: none;
    padding: 1%;
    border-radius: 4px;
    flex-grow: 1;
    max-width: none; /* Asegura que no se limite el ancho */
    width: 100%; /* Ocupa todo el ancho disponible */
}

form{
    max-width: none; /* Asegura que no se limite el ancho */
    width: 100%; /* Ocupa todo el ancho disponible */
}

.chat-foot button {
    background-color: #b22929;
    color: #fff;
    font-size: 120%;
    border: none;
    padding: 6% 25% 6% 22%;
    border-radius: 4px;
    cursor: pointer;
    max-width: none; /* Asegura que no se limite el ancho */
}

.chat-foot button:hover {
  background-color: #ff8400;
}

.fila {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center ;
  height: 30%;
  width:100%;
  margin-bottom: 10px;
}

.columna {
  width: 100%;
  height: 100%;
  border: 1px solid black;
  transition: background-color 2s; /* Transición de 2 segundos para el cambio de color */
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.verde {
  background-color: rgb(153, 236, 153);
}

.rojo {
  background-color: rgb(235, 113, 113);
}
.contenido {
  text-align: center;
  font-family: Rage;
  font-weight: 900;
  font-size: 2em; /* Ajusta el tamaño de la fuente según tus preferencias */
}