<body>


  <div class="chat-container">
    <div id="menu-lateral">
      <ul>
          <li><a class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="home">chat</a></li>
          <!--li><a class="link-offset-2 link-underline link-underline-opacity-0" href="archivos">archivos</a></li -->
          <li><a class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="biblio">Cursos</a></li>
      </ul>
  </div>

  <!-- Contenido Principal -->

    <h1 class="display-1" style="font-family: Rage;">Help Us - archivos</h1>

    </div>
</body>
<router-outlet></router-outlet>
